<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>CriptoSimulator</title>
    <link rel="stylesheet" href="/static/lib/bootstrap.min.css" />
    <script src="/static/lib/bootstrap.bundle.min.js"></script>
    <link rel="stylesheet" href="/static/css/styles.css" />
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
      integrity="sha512-nmFZys7sLs/c4mL7Q2ylTzTmzyNmR/KTzS1BAr9gIeHzx6L2knN/Zc04LGiTeEr6U8BN6UzNT6UJj/9BkP8LWg=="
      crossorigin="anonymous"
      referrerpolicy="no-referrer"
    />
  </head>

  <body>
    {% include 'components/header.html' %} {% include 'components/navbar.html'
    %}

    <!--
    <div class="container text-center">
      <div class="spinner-border text-primary" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
    </div>
    -->

    <main>
      {% block content %} {% endblock content %} {% block status %} {% endblock
      status %} {% block purchase_index %} {% endblock purchase_index %} {%
      block purchase_calculated %} {% endblock purchase_calculated %}
    </main>

    {% include 'components/footer.html' %}
  </body>
</html>
