  <ul class="nav justify-content-center">
    <li class="nav-item">
      <a class="nav-link active" aria-current="page" href="/">Home</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/purchase">Purchase</a>
    </li>
    <li class="nav-item">
      <a class="nav-link" href="/status">Status</a>
    </li>
  </ul>

  <div class="container text-center">
    <footer class="lead">
      2023 CriptoSimulator Created by Carlos Nauzet Hernández Sánchez
    </footer>
  </div>
</div>
